body {
  background: #dbf7f1;
}
a .navbar-item:hover {
  color: #dbf7f1;
  border-radius: 20px;
}
.card:hover {
  transform: translateY(-1.1rem);
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}
